<!-- voter_analytics/templates/voter_analytics/base.html -->

{% load static %}
<html>
    <head>
        <title>Voter Analytics</title>
        <link rel="stylesheet" href="{% static 'mastyles.css' %}">
    </head>
    <body>
        <header>
            <h1>Voter Analytics</h1>
            <nav>
                <ul style="text-align: center;">
                    <li style="display: inline-block; margin-right: 20px;"><a href="{% url 'voters' %}">Home</a></li>
                    <li style="display: inline-block;"><a href="{% url 'graphs' %}">Graphs</a></li>
                </ul>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>
