{% extends 'project/base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
            <br>
            <img src="{{ category.graphic.url }}" 
                alt="{{ category.name }}" 
                style="
                    width: 80px; 
                    height: 80px; 
                    border-radius: 15px; 
                    object-fit: cover; 
                    margin-bottom: 5px;">
        </li>
        {% endfor %}
    </ul>
{% endblock %}
