{% extends 'project/base.html' %}
{% load static %}

{% block content %}
<div class="note-detail-container">
    <!-- Note Header -->
    <div class="note-header">
        <h1 class="note-title">{{ object.title }}</h1>
        <div class="note-meta">
            <div class="author-info">
                {% if object.author.profile_img_file %}
                    <img src="{{ object.author.profile_img_file.url }}" alt="Author Profile Picture" class="author-picture">
                {% else %}
                    <img src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture" class="author-picture">
                {% endif %}
                <div class="author-details">
                    <p>By <a href="{% url 'profile-detail' object.author.id %}">{{ object.author.first_name }} {{ object.author.last_name }}</a></p>
                    <p class="upload-date">Uploaded on {{ object.upload_date|date:"F j, Y, g:i a" }}</p>
                </div>
            </div>
            <div class="note-tags">
                <a href="{% url 'note-list' %}?category={{ object.topic.parent_subject.category.id }}" class="tag">{{ object.topic.parent_subject.category.name }}</a>
                <a href="{% url 'note-list' %}?subject={{ object.topic.parent_subject.id }}" class="tag">{{ object.topic.parent_subject.name }}</a>
                <a href="{% url 'note-list' %}?topic={{ object.topic.id }}" class="tag">{{ object.topic.title }}</a>
            </div>            
        </div>
    </div>

    <hr class="note-divider">

    <!-- Note Content -->
    <div class="note-content">
        {{ object.content|linebreaks }}
    </div>
</div>
{% endblock %}
