<!-- ## Create template directory mini_fb/templates/mini_fb
## Create Template:
## File: mini_fb/templates/mini_fb/base.html -->

<!-- templates/base.html -->

{% load static %}

<html>
    <head>
        <title>{% block title %}Mini FB{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
    </head>
    <body>
        <header>
            <h1 class="header-title">Mini FB</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'base' %}">Profiles</a></li>
                    <li><a href="{% url 'create_profile' %}">Create Profile</a></li> <!-- Create a new profile button -->
                    <li><a href="#">Messages</a></li> <!-- Placeholder button -->
                    <li><a href="#">Settings</a></li> <!-- Placeholder button -->
                </ul>
            </nav>
        </header>

        {% block content %}
        <!-- Content here -->
        {% endblock %}

        <footer>
            <h3>Mini Fb</h3>
            <p>Made by Ed <br> no rights reserved ¯\_(ツ)_/¯</p>
        </footer>
    </body>
</html>

