<!-- ## Create template directory mini_fb/templates/mini_fb
## Create Template:
## File: mini_fb/templates/mini_fb/base.html -->

<!-- templates/base.html -->

{% load static %}

<html>
    <head>
        <title>{% block title %}Mini FB{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles_mini_fb.css' %}">
    </head>
    <body>
        <header>
            <h1 class="header-title">Mini FB</h1>
            <nav>
                <ul>
                    <!-- Conditionally render the show profiles button if not on base -->
                    {% if not profiles %}
                    <li><a href="{% url 'base' %}">Profiles</a></li>
                    {% endif %}
                    {% if profiles %}
                    <li><a href="{% url 'create_profile' %}">Create New Profile</a></li> <!-- Create a new profile button -->
                    {% endif %}
                    <!-- if on news page add a button to go back to profile page -->
                    {% if news %}
                    <li><a href="{% url 'show_profile' ret_profile %}">Back to Profile</a></li> <!-- Profile Page button -->
                    {% endif %}
                    <!-- Conditionally render the News Feed button if on a profile page -->
                    {% if profile %}
                    <li>
                        <a href="{% url 'news_feed' profile.pk %}" style="
                            background-color: #42A5F5;
                            color: white;
                            padding: 10px;
                            border-radius: 5px;
                            text-decoration: none;
                            transition: background-color 0.3s;">
                            News Feed
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block content %}
        <!-- Content here -->
        {% endblock %}

        <footer>
            <h3>Mini Fb</h3>
            <p>Made by Ed <br> no rights reserved ¯\_(ツ)_/¯</p>
        </footer>
    </body>
</html>

