<!-- templates/mini_fb/show_all_profiles.html -->

<!-- 
extends the base.html template and implements 
the content block. Use this page to display a 
table with all Profile records, one per line. 
Include the first name, last name, city, and a 
profile image, using the data attributes stored 
in the Profile model.
-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<div class="container">
    <h2>Profiles</h2>
    
    <table>
        {% for a in profiles %}
        <tr style="background-color: #F9F9F9; border-radius: 10px; padding: 15px;">
            <td style="padding: 15px;">
                <a href="{% url 'show_profile' a.pk %}" style="text-decoration: none;">
                    <img src="{{ a.get_profile_image }}" alt="Profile Img" style="width: 150px; height: auto; margin-bottom: 10px; border-radius: 10px;">                </a>
            </td>
            <td style="padding: 15px;">
                <a href="{% url 'show_profile' a.pk %}" style="
                    text-decoration: none; 
                    color: #4A90E2; 
                    font-size: 1.2em;
                    font-family: Arial, sans-serif;
                    font-weight: bold;
                    transition: color 0.3s ease;">
                    {{ a.first_name }} {{ a.last_name }}
                </a>
            </td>
            <td style="padding: 15px; color: #3C4858;">{{ a.city }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

