<!-- templates/quotes/about.html -->
{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About</h1>
    
    <section>
        <h2>About the Person</h2>

        <img src="https://cdn.britannica.com/36/69636-050-81A93193/Self-Portrait-artist-panel-board-Vincent-van-Gogh-1887.jpg" alt="Vincent Van Gogh" class="center-image">

        <p>
            This application showcases quotes by Vincent Van Gogh. 
            Vincent Van Gogh was a Dutch painter who became one of the most influential artists in history. Despite facing numerous personal struggles and only finding success after his death, Van Gogh's passion and dedication to his craft never wavered. He created over 2,000 artworks, including masterpieces like "Starry Night" and "Sunflowers," known for their bold colors and emotional depth. His life reminds us that perseverance and staying true to our vision can create a lasting impact, even when faced with adversity.
        </p>
    </section>

    <section>
        <h2>About the Creator</h2>

        <img src="https://cs-people.bu.edu/emarecos/me.jpg" class="modern-image">

        <p>
            This web application was created by Edward Marecos. 
            It is designed to provide inspiration and insight through the words of Vincent Van Gogh.
        </p>
    </section>
{% endblock %}
