{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Quotes App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles_quotes.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Home</a></li>
                <li><a href="{% url 'show_all' %}">Show All</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    <!-- Content here -->
    {% endblock %}
</body>
</html>
